.contact-container {
    margin: 2rem;
}

.contact-container h5 {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0 0 2rem 0;
}

.contact-container p {
    margin: 0;
    font-style: italic;
    font-size: 1.2rem;
}